/* shared styles */
body{
    margin: 0px;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    padding: 1em;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 1.5rem auto;
}
.common-width{
    width: 1200px;
    margin: 0 auto;
}
.text-light-gray{
    color: #474747;
}
.common-h1{
    font-size: 3rem;
}


/* header area css */
header{
    /* background-color: #FF900E; */
}
/* navbar css */
.nav-bar-container{
    justify-content: space-between;
    align-items: center;
}
.nav-items li{
    list-style: none;
    margin-left: 3rem;
}
.nav-items li a{
    text-decoration: none;
    color: black;
}

/* brand area css */
.brand-area-container{
    text-align: center;
    width: 40%;
}
.brand-area-container h1{
    font-size: 3rem;
}
.brand-area-container img{
    width: 100%;
}
.header-img-div{
    display: flex;
    justify-content: center;
}
.header-img-div img{
    width: 80%;
    border-radius: 10px;
}

/* teams section css */
.teams-section-container{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 7rem;
}
.teams-section-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
#features{
    color: #FF900E;
}








@media screen and (max-width: 576px){
    .nav-bar-container{
        width: 90%;
        flex-direction: column;
        /* justify-content: center; */
    }
    .nav-items{
        padding-right: 2rem;
        padding-left: 0;
    }
    .navbar-title h1{
        margin: 0;
    }
    .brand-area-container{
        width: 90%;
        padding: 1.5rem;
    }
    .teams-section-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        
    }
    .teams-section-img-container{
        display: grid;
        order: 2;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .teams-section-text-container{
        text-align: center;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    body{
        margin: 0;
    }
    .nav-bar-container{
        width: 90%;
        flex-direction: column;
        margin-left: 0;
    }
    .brand-area-container{
        width: 90%;
        padding: 1.5rem;
    }
    .teams-section-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        
    }
    .teams-section-img-container{
        display: grid;
        order: 2;
        gap: 0;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .teams-section-img-container{
        width: 90%;
    }
    .teams-section-text-container{
        text-align: center;
    }
}